.containerGrid {
    background: red;
    padding: 5px;
    /*width: 300px;*/
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, auto));
    grid-gap: 20px;
}

.containerGrid>div {
    background: white;
    text-align: center;
}

h2 {
    color: #245;
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}